$font-size: 20px;
$button-background-color: green;
$button-font-color:#ffffff;
$text-font-color:red;
.hello-world-button {
    font-size: $font-size;
    background-color: $button-background-color;
    color: $button-font-color;
    padding: 7px 15px;;
}
.hello-world-text {
    color: $text-font-color;
    font-weight: bold;
}